body {
    background-color: rgb(131, 121, 122);
    font-family: 'Rubik', sans-serif;

}

font-family: 'Rubik', sans-serif;
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.img-profile {
    margin: 100px;
    position: relative;
    margin-block-end: auto;
    width: 300px;
   border-style: ridge;
   border-color: aliceblue;
}

.img-content {
    position: absolute;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.description {
    color: whitesmoke;
    display: flex;
    font-size: x-large;
    MARGIN: 100px;
    justify-content: space-around;
    margin-top: -290px;
    font-variant-caps: unicase
}

.DPIMG {
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 420px;
    margin-top: -53px;
}

.SSEEDS {
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 420px;
    margin-top: 54px;
    height: 103px;
}

.buddah {
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 608px;
    margin-top: 54px;
    height: 103px;
}

.Positronics {
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 608px;
    margin-top: -53px;
    height: 101px;
}

.SweetSeeds {
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 795px;
    margin-top: -53px;
    height: 101px;
}

.EvaSeeds{
    width: 180px;
    display: flex;
    position: absolute;
    margin-left: 795px;
    margin-top: 54px;
    height: 103px;
}

.Reprocann{
    display: flex;
    width: 300px;
    position: absolute;
    margin-left: 979px;
    margin-top: -54px;
    border-style: ridge;
    height: 206px;
    border-color: aliceblue;
}

.SemillasIndoor {
    display: flex;
    margin-top: 309px;
    justify-content: center;
    font-size: large;
    font-variant-caps: unicase;
    font-family: sans-serif;
    color: aliceblue;
    background: black;
}

.Medicinal1 {
    display: flex;
    margin-top: 10px;
    background-color: black;
    margin-right: 500px;
    position: absolute;
    flex-direction: column;
}

.Pamnesia {
    color: aliceblue;
    font-variant-caps: unicase;
    margin-left: 91px;
    margin-top: -91px;
    margin-bottom: 33px;
}

.AuroraIndica {
    display: flex;
    margin-top: 138px;
    background-color: black;
    margin-right: 491px;
    position: initial;
    align-items: flex-end;
    height: 121px;
}

.Paurora {
    display: flex;
    margin: -94px;
    margin-left: 88px;
    color: aliceblue;
    font-variant-caps: unicase;
    position: absolute;
    margin-inline: 95px
}

.Medicinal2 {
    background-color: black;
    margin-right: 491px;
    position: relative;

}